*, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    font-family: Calibri
}

.header {
    min-height: 40px;
    color: white;
    padding: 10px;
}

/* Color Theme Swatches in Hex */
.Crevasse-1 {
    background-color: #dedede;
}

.Crevasse-2 {
    background-color: #DEEFE7;
}

.Crevasse-3 {
    background-color: #002333;
}

.Crevasse-4 {
    background-color: #159A9C;
}

.Crevasse-5 {
    background-color: #B4BEC9;
}

.pagetitle {
    float: left;
}

.userPanel {
    width: 250px;
    float: right;
    margin-top: 9px;
}

#lbtn_cikis {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.sidebar {
    display: block;
    width: 250px;
    height: 700px;
    float: left;
    padding-top:20px;
}

    .sidebar .menuItem {
        border-bottom: 1px solid #B4BEC9;
        padding:10px;
    }
        .sidebar .menuItem:hover
        {
            background-color:#B4BEC9;
        }

        .sidebar a {
            color: #002333;
            text-decoration: none;
        }
            .contentContainer {
                min-height: 500px;
                float: left;
                width: 70%;
                padding: 10px;
            }
.formContainer
{
    
}
.formTitle {
    padding: 10px 20px;
    background-color: #ededed;
    border: 1px solid silver;
    border-bottom: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.formContent {
    padding: 20px;
    border: 1px solid silver;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index:14
}
.inputBox {
    padding: 7px;
    border: 1px solid silver;
    width: 400px;
    border-radius: 3px;
}
.formbutton
{
    padding:10px 25px;
    background-color:hotpink;
    color:white;
    border:1px solid deeppink;
    border-radius:5px;
    text-decoration:none;
    font-weight:900;
}
    .formbutton:hover
    {
        background-color:deeppink;
        
    }
    .row {
        padding: 10px 0;
    }
.basarili {
    background-color: #d4fca7;
    color: #1d7105;
    padding: 20px;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    -webkit-box-shadow: inset 0px 15px 5px -7px rgba(0,0,0,0.34);
    -moz-box-shadow: inset 0px 15px 5px -7px rgba(0,0,0,0.34);
    box-shadow: inset 0px 15px 5px -7px rgba(0,0,0,0.34);
}
.basarisiz {
    background-color: #febfbf;
    color: red;
    padding: 20px;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    -webkit-box-shadow: inset 0px 15px 5px -7px rgba(0,0,0,0.34);
    -moz-box-shadow: inset 0px 15px 5px -7px rgba(0,0,0,0.34);
    box-shadow: inset 0px 15px 5px -7px rgba(0,0,0,0.34);
}

